.button {
    border-radius: 5px;
    max-width: 160px;
    display: block;
    box-sizing: border-box;
    padding: 10px 40px;
    margin: 0;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background-color: #FF6D00;
    transition: background-color 0.4s linear;
    text-transform: none;
}

.button:hover {
    background-color: #FF8124;
    cursor: pointer;
}